# Basic Dictionay Operations

1. Create a dictionary with 3 key-value pairs (name, age, city).

In [ ]:
info={"name":"ruturaj","age":23,"city":"pune"}

2. Create a dictionary and print the value of a specific key.

In [5]:
info={"name":"ruturaj","age":23,"city":"pune"}

info.get('city')

'pune'

3. Make a dictionary and add a new key-value pair to it.

In [2]:
stud_info={"id":101,"name":"ruturaj"}

stud_info["marks"]=99

print(stud_info)

{'id': 101, 'name': 'ruturaj', 'marks': 99}

4. Create a dictionary and change the value of an existing key.

In [4]:
info={"name":"ruturaj","age":23,"city":"pune"}

info["city"]="mumbai"

print(info)

{'name': 'ruturaj', 'age': 23, 'city': 'mumbai'}

5. Create a dictionary and remove one key using pop().

In [7]:
emp={"id":101,"name":"viren"}

emp.pop("name")

print(emp)

{'id': 101}

6. Create a dictionary and remove the last inserted item using popitem().

In [10]:
data={"id":101,"name":"vaishnav","salary":50000}

data.popitem()

print(data)

{'id': 101, 'name': 'vaishnav'}

7. Create a dictionary and print all the keys.

In [11]:
info={"name":"ruturaj","age":23,"city":"pune"}

info.keys()

dict_keys(['name', 'age', 'city'])

8. Create a dictionary and print all the values.

In [12]:
info={"name":"ruturaj","age":23,"city":"pune"}

info.values()

dict_values(['ruturaj', 23, 'pune'])

9. Create a dictionary and print all the key-value items.

In [13]:
info={"name":"ruturaj","age":23,"city":"pune"}

info.items()

dict_items([('name', 'ruturaj'), ('age', 23), ('city', 'pune')])

10. Make a dictionary and check the number of items using len().

In [15]:
employee={"name":"ruturaj","age":23,"city":"pune","salary":10000}

print(len(employee))

4

11. Create a dictionary and check if a certain key exists (using "key" in dict).

In [16]:
employee={"name":"ruturaj","age":23,"city":"pune","salary":10000}

"age" in employee

True

12. Create an empty dictionary and add two key-value pairs one by one.

In [17]:
student_data={}

student_data["roll no"]=21
student_data["name"]="viren"

print(student_data)

{'roll no': 21, 'name': 'viren'}

13. Create a dictionary and update one keyâ€™s value using update().

In [31]:
employee={"name":"ruturaj","age":23,"city":"pune","salary":10000}

employee.update({"city":"goa"})


print(employee)

{'name': 'ruturaj', 'age': 23, 'city': 'goa', 'salary': 10000}

14. Create two dictionaries and combine them using update().

In [33]:
info1={"id":100,"name":"ruturaj"}

info2={"branch":"big data","month":"oct"}

info1.update(info2)

print(info1)

{'id': 100, 'name': 'ruturaj', 'branch': 'big data', 'month': 'oct'}

15. Make a dictionary and get the value of a key using get().

In [23]:
data={"id":101,"name":"vaishnav","salary":50000}

data.get('salary')

50000

16. Create a dictionary and print its type using type().

In [24]:
info={"name":"ruturaj","age":23,"city":"pune"}

type(info)

dict

17. Create a dictionary and replace one value with a new one.

In [25]:
db={"id":201,"name":"aniket","dept":"marketing"}

db["dept"]="sales"

print(db)

{'id': 201, 'name': 'aniket', 'dept': 'sales'}

18. Create a dictionary and clear all items using clear().

In [27]:
db2={"name":'ryan',"position":"manager"}

db2.clear()

print(db2)

{}

19. Create a dictionary with numbers as keys and names as values. Print the dictionary.

In [28]:
dic={10:'rvd',20:'big data'}

print(dic)

{10: 'rvd', 20: 'big data'}

20. Create a dictionary and copy it into a new dictionary using copy().

In [30]:
database={'name':'rvd','branch':'big data'}

database2=database.copy()

print(database2)

{'name': 'rvd', 'branch': 'big data'}