# Basic List Operations

1. Create a list of 5 numbers and add a new number to the end.

In [4]:
lst1=[15,25,35,45,55]

lst1.append(65)

print(lst1)

[15, 25, 35, 45, 55, 65]

2. Make a list of fruits and insert a fruit at the second position.

In [7]:
fruits=["apple","kiwi","banana","watermellon"]

fruits.insert(1,"Mango")

print(fruits)

['apple', 'Mango', 'kiwi', 'banana', 'watermellon']

3. Create a list of names and remove one name from the list.

In [10]:
name=["aryan",'rahul','nitin','viren']

name.remove("nitin")

print(name)

['aryan', 'rahul', 'viren']

4. Create a list of 4 items and change the value at index 2.

In [ ]:
lst2=['books','laptop','pens','marker']

lst2[2]='notebook'                       # to replace values ---> list[index]=new value

print(lst2)

['books', 'laptop', 'notebook', 'marker']

5. Make a list of numbers and print only the first three elements.

In [20]:
nums=[3,6,9,12,15,18]

print(nums[:3])

[3, 6, 9]

6. Create a list of colors and find the index of a specific color.

In [24]:
colors=['orange','white','green','yellow']

colors.index('yellow')

3

7. Create a list of 10 numbers and print how many times “5” appears.

In [25]:
numbers=[2,4,5,7,8,10,5,1,5,12]

numbers.count(5)

3

8. Make a list of 6 items and delete the item at index 3.

In [27]:
lst2=['books','laptop','pens','marker','notebook','board']

lst2.pop(3)

print(lst2)

['books', 'laptop', 'pens', 'notebook', 'board']

9. Create a list of animals and add three more animals using extend().

In [30]:
animals=['lion','tiger','wolf']

animals.extend(['rabbit','deer','elephant'])

print(animals)

['lion', 'tiger', 'wolf', 'rabbit', 'deer', 'elephant']

10. Create a list and remove the last item using pop().

In [32]:
lst2=['books','laptop','pens','marker','notebook','board']

lst2.pop()

print(lst2)

['books', 'laptop', 'pens', 'marker', 'notebook']

11. Create a list of prices and sort them in ascending order.

In [34]:
price=[500,900,100,600,200]

price.sort()

print(price)

[100, 200, 500, 600, 900]

12. Make a list of countries and reverse the order of the list.

In [ ]:
country=['germany','england','brazil','india']

country.reverse()                 #country[::-1]
print(country)

['india', 'brazil', 'england', 'germany']

13. Create a list of words and check if “apple” is in the list.

In [46]:
fruits=["apple","kiwi","banana","watermellon"]

"apple" in fruits

True

14. Create a list of numbers and print the largest and smallest number.

In [48]:
price=[500,900,100,600,200]
print(max(price))
print(min(price))

900
100

15. Make a list of 5 items and print each item using a loop.

In [49]:
fruits=["apple","kiwi","banana","watermellon",'peach']

for i in fruits:
    print(i)

apple
kiwi
banana
watermellon
peach

16. Create two lists and combine them into one list.

In [ ]:
fruits=["apple","kiwi","banana","watermellon",'peach']

animals=['lion', 'tiger', 'wolf', 'rabbit', 'deer', 'elephant']

fruits.extend(animals)   # fruits= fruits + animals

print(fruits)

['apple', 'kiwi', 'banana', 'watermellon', 'peach', 'lion', 'tiger', 'wolf', 'rabbit', 'deer', 'elephant']

17. Make a list and replace the last item with a new value.

In [52]:
animals=['lion', 'tiger', 'wolf', 'rabbit', 'deer', 'elephant']

animals[-1]="shark"

print(animals)

['lion', 'tiger', 'wolf', 'rabbit', 'deer', 'shark']

18. Create a list of numbers and print only the even numbers.

In [53]:
num=[11,12,13,14,15,16,17,18]

for i in num:
    if i%2==0:
        print(i)

12
14
16
18

19. Create a list and clear all items from the list.

In [55]:
prices=[500,900,100,600,200,300]

prices.clear()

print(prices)

[]

20. Create a list of 5 values and copy it into another list.

In [57]:
list1=[1,2,3,4,5]

list2= list1.copy()

print(list2)

[1, 2, 3, 4, 5]