# ðŸ“ Python Assignment â€“ Nested Lists & Nested Dictionaries
## Medium Level Questions (20)
### Instructions:
- Write all your answers in the code cells provided.
- Do not erase the questions.
- Use loops (`for` / `while`) wherever necessary.
---

## **1. Print every element inside this nested list:**
`[[1,2,3], [4,5], [6,7,8,9]]`

In [1]:
# Write your answer here
data=[[1,2,3], [4,5], [6,7,8,9]]
for item in data:
    for ch in item:
        print(ch)

1
2
3
4
5
6
7
8
9

## **2. Find the sum of all numbers inside a nested list.**
Example: `[[10,20], [30], [5, 7, 8]]`

In [9]:
# Write your answer here
data=[[10,20], [30], [5, 7, 8]]
sum=0
for item in data:
    for num in item:
        sum+=num
print(sum)

80

## **3. Count how many even numbers are present in a nested list.**

In [17]:
# Write your answer here
numbers = [[2, 7, 10],[15, 18, 21],[4, 9, 12],[5, 8, 14]]
total=0
for item in numbers:
    for num in item:
        total+=1
print(total)

12

## **4. Convert all strings to uppercase inside a nested list.**
Example: `[['hello', 'world'], ['python']]`

In [21]:
# Write your answer here
word=[['hello', 'world'], ['python']]
for char in range(len(word)):
    for i in range(len(word[char])):
       (word[char][i])=word[char][i].upper()
print(word)

[['HELLO', 'WORLD'], ['PYTHON']]

## **5. For the nested marks list, print total marks of each student.**
`[[80, 90, 85], [75, 70, 65], [88, 92, 79]]`

In [ ]:
# Write your answer here
marks=[[80, 90, 85], [75, 70, 65], [88, 92, 79]]                                       
sum=0
for num in marks:
    for i in num:
        sum+=i
    print(sum)

255
465
724

## **6. Create a new list containing numbers greater than 50 from a nested list.**

In [37]:
# Write your answer here
numbers = [[12, 67, 45],[89, 23, 51],[34, 76, 10],[99, 48, 63]]
nw_num=[]
for num in numbers:
    for ch in num:
        if ch>50:
            nw_num.append(ch)
print(nw_num)

[67, 89, 51, 76, 99, 63]

## **7. Find the largest number inside a nested list.**

In [39]:
numbers = [[12, 45, 78],[34, 90, 23],[56, 18, 99],[11, 67, 42]]
big_num=0
for num in numbers:
    for i in num:
        if i>big_num:
            big_num=i
print(big_num)

99

## **8. Flatten a nested list into a single list.**
`[[1,2], [3,4], [5]] â†’ [1,2,3,4,5]`

In [43]:
# Write your answer here
numbers=[[1,2], [3,4], [5]] 
lst=[]
for num in numbers:
    for i in num:
        lst.append(i)

print(lst)

[1, 2, 3, 4, 5]

## **9. Replace all negative numbers with 0 inside a nested list.**

In [32]:
# Write your answer here
numbers = [[12, -45, 78],[-34, 90, 23],[56, 18, 99],[11, 67, -42]]
for num in range(len(numbers)):
    for i in range(len(numbers[num])):
        if (numbers[num][i])<0:
            (numbers[num][i])=0
print(numbers)

[[12, 0, 78], [0, 90, 23], [56, 18, 99], [11, 67, 0]]

## **10. Count how many inner lists exist inside a nested list.**

In [48]:
# Write your answer here
lst=[[1,2], [3,4], [5]] 
inner_list=0
for num in lst:
    inner_list+=1
print(inner_list)

3

## **11. Print each student's name and age from this nested dictionary:**
```
{
  'A': {'age': 15, 'grade': 10},
  'B': {'age': 16, 'grade': 11}
}
```

In [ ]:
# Write your answer here
data={
  'Abhi': {'age': 15, 'grade': 10},
  'Bhushan': {'age': 16, 'grade': 11}
}
for key,val in data.items():
    print(key,val["age"])

Abhi 15
Bhushan 16

## **12. Increase every student's marks by 5 in a nested dictionary.**

In [ ]:
# Write your answer here
students = {
    "s1": {"name": "Rohan", "marks": 72},                  
    "s2": {"name": "Sneha", "marks": 88},
    "s3": {"name": "Amit", "marks": 91},
    "s4": {"name": "Priya", "marks": 66}
}
for key,val in students.items():
    (val["marks"])+=5
print(students)

{'s1': {'name': 'Rohan', 'marks': 77}, 's2': {'name': 'Sneha', 'marks': 93}, 's3': {'name': 'Amit', 'marks': 96}, 's4': {'name': 'Priya', 'marks': 71}}

## **13. Print only the inner dictionary keys from a nested dictionary.**

In [88]:
# Write your answer here
students = {
    "s1": {"name": "Rohan", "age": 15, "marks": 85}
}
for key,val in students.items():
    for i in val.keys():
        print(i)

name
age
marks

## **14. Count how many students scored more than 80 in math:**
```
{
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
}
```

In [58]:
# Write your answer here
mark={
  'A': {'math': 85, 'science': 90},
  'B': {'math': 70, 'science': 88}
     }
count=0
for key,val in mark.items():
    if val["math"]>80:
        count+=1
print(count)

1

## **15. Create a new dictionary of students whose age is above 15.**

In [60]:
# Write your answer here

students_age = {
    "Aarav": 14,
    "Meera": 17,
    "Rohan": 16,
    "Ananya": 13,
    "Kabir": 18,
    "Siya": 15,
    "Arjun": 19
}
big_stud={}
for key,val in students_age.items():
    if val>15:
        big_stud[key]=val
print(big_stud)

{'Meera': 17, 'Rohan': 16, 'Kabir': 18, 'Arjun': 19}

## **16. Find which student scored highest in science.**

In [ ]:
# Write your answer here                                                             
students = {
    "Aarav": {"math": 80, "science": 78},
    "Meera": {"math": 91, "science": 92},
    "Rohan": {"math": 85, "science": 85},
    "Ananya": {"math": 88, "science": 88},
    "Kabir": {"math": 90, "science": 95},
    "Siya": {"math": 82, "science": 81}
}

high=0
high_key=''

for key,val in students.items():
    if val["science"]>high:
        high=val["science"]
        high_key=key
print(high_key)

Kabir

## **17. Print employees who belong to the HR department from this dictionary.**

In [71]:
# Write your answer here
employees = {
    "Emp1": {"name": "Aarav", "department": "HR"},
    "Emp2": {"name": "Meera", "department": "Finance"},
    "Emp3": {"name": "Rohan", "department": "HR"},
    "Emp4": {"name": "Ananya", "department": "IT"},
    "Emp5": {"name": "Kabir", "department": "Marketing"}
}
for key , val in employees.items():
    if val["department"]=="HR":
        print(key,val)

Emp1 {'name': 'Aarav', 'department': 'HR'}
Emp3 {'name': 'Rohan', 'department': 'HR'}

## **18. Delete all entries where the status is 'inactive'.**

In [ ]:
# Write your answer here
employees = {
    101: {"name": "Rohan", "status": "active"},
    102: {"name": "Sneha", "status": "inactive"},
    103: {"name": "Amit", "status": "active"},
    104: {"name": "Priya", "status": "inactive"},
    105: {"name": "Kiran", "status": "active"}                                        
}

To_delete=[]
for key,val in employees.items():
    if val["status"]=="inactive":
        To_delete.append(key)

for keys in To_delete:
    del employees[keys]
print(employees)

{101: {'name': 'Rohan', 'status': 'active'}, 103: {'name': 'Amit', 'status': 'active'}, 105: {'name': 'Kiran', 'status': 'active'}}

## **19. Find total stock by summing all 'quantity' values in a nested dictionary.**

In [ ]:
# Write your answer here
inventory = {
    "item1": {"name": "Pen", "quantity": 50},
    "item2": {"name": "Notebook", "quantity": 30},
    "item3": {"name": "Pencil", "quantity": 45},                  
    "item4": {"name": "Eraser", "quantity": 25}
}
total_stock=0
for key,val in inventory.items():
    total_stock+=(val["quantity"])
print(total_stock)

150

## **20. Convert all inner dictionary keys to uppercase.**

In [36]:
# Write your answer here
students = {
    "Aarav": {"math": 80, "science": 78},
    "Meera": {"math": 91, "science": 92},
    "Rohan": {"math": 85, "science": 85},
    "Ananya": {"math": 88, "science": 88},                      #revise
    "Kabir": {"math": 90, "science": 95},
    "Siya": {"math": 82, "science": 81}
}

new_data = {}
for i, j in students.items():
    new_data[i] = {}
    for key, value in j.items():
        new_data[i][key.upper()] = value

print(new_data)

{'Aarav': {'MATH': 80, 'SCIENCE': 78}, 'Meera': {'MATH': 91, 'SCIENCE': 92}, 'Rohan': {'MATH': 85, 'SCIENCE': 85}, 'Ananya': {'MATH': 88, 'SCIENCE': 88}, 'Kabir': {'MATH': 90, 'SCIENCE': 95}, 'Siya': {'MATH': 82, 'SCIENCE': 81}}