### 1. Print numbers from 1 to 10 using a for loop

In [2]:
for num in range(1,11,1):
    print(num)

1
2
3
4
5
6
7
8
9
10

### 2. Print all even numbers between 1 and 20 using a for loop

In [5]:
for num in range(2,21,2):
    print(num)

2
4
6
8
10
12
14
16
18
20

### 3. Print each character of the string 'Python' using a for loop

In [6]:
data="python"
for str in data:
    print(str)

p
y
t
h
o
n

### 4. Print the squares of numbers from 1 to 5 using a for loop

In [7]:
for num in range(1,6):
    print(num**2)

1
4
9
16
25

### 5. Print all elements of a list using a for loop

In [8]:
lst=[2,4,6,8,10]
for num in lst:
    print(num)

2
4
6
8
10

### 6. Calculate the sum of numbers from 1 to 50 using a for loop

In [9]:
sum=0
for num in range(1,51):
    sum+=num
print(sum)

1275

### 7. Print numbers from 10 to 1 in reverse using a for loop

In [11]:
for num in range(10,0,-1):
    print(num)

10
9
8
7
6
5
4
3
2
1

### 8. Print the multiplication table of 7 using a for loop

In [12]:
for num in range(1,11):
    print(num*7)

7
14
21
28
35
42
49
56
63
70

### 9. Count how many vowels are in the string 'education' using a for loop

In [102]:
word='education'

vowel=["a","e",'i',"o","u"]
count=0
for i in word:
    if i in vowel:
        count+=1
print(count)

5

### 10. Print all odd numbers from 1 to 30 using a for loop

In [21]:
for num in range(1,31,2):
    print(num)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

### 11. Count how many uppercase letters are in a string using a for loop

In [25]:
data="AweSoMeEEeee"
uppercase=0
for ch in data:
    if ch == ch.upper():
        uppercase+=1

print(uppercase)

5

### 12. Create a new list that contains only the positive numbers from another list

In [28]:
lst1=[11,14,-3,5,-8,28,-33]

lst2=[]
for num in lst1:
    if num>0:
        lst2.append(num)
    
print(lst2)

[11, 14, 5, 28]

### 13. Print numbers from 1 to 10 using a while loop

In [29]:
num=1
while num<=10:
    print(num)
    num+=1

1
2
3
4
5
6
7
8
9
10

### 14. Print all multiples of 5 up to 50 using a while loop

In [ ]:
num=5
while num<=50:
    print(num)          
    num+=5

5
10
15
20
25
30
35
40
45
50

### 16. Keep asking the user to enter numbers until the user enters 0

In [5]:
while True:
    user=int(input())
    if user==0:
        print("prgm stopped")
        break

prgm stopped

### 17. Use a while loop to calculate the sum of the first 10 natural numbers

In [8]:
sum=0
num=1
while num<=10:
    sum+=num
    num+=1
print(sum)

55

### 18. Given a dictionary of fruits and their prices, print all the keys using a for loop

In [9]:
fruits={"apple":125,"banana":50,"watermellon":100}
for ch in fruits.keys():
    print(ch)

apple
banana
watermellon

### 19. Given a dictionary of fruits and their prices, print all the values using a for loop

In [10]:
fruits={"apple":125,"banana":50,"watermellon":100}
for ch in fruits.values():
    print(ch)

125
50
100

### 20. Print both keys and values of a dictionary using a for loop

In [11]:
fruits={"apple":125,"banana":50,"watermellon":100}
for ch in fruits.items():
    print(ch)

('apple', 125)
('banana', 50)
('watermellon', 100)

### 21. Count how many keys are in a dictionary using a for loop

In [107]:
fruits={"apple":125,"banana":50,"watermellon":100}
total=0
for ch in fruits.keys():
    total+=1
print(total)

3

### 22. Create a dictionary and print only the keys that start with the letter 'a'

In [23]:
fruits={"apple":125,"banana":50,"watermellon":100,"avocado":200}
for key in fruits.keys():
    if key.startswith("a"):
        print(key)

apple
avocado

### 23. Given a dictionary of student names and marks, print only the students who scored more than 80

In [25]:
students = {
    "Aarav": 76,
    "Rohan": 92,
    "Siya": 85,
    "Meera": 67,
    "Kabir": 88,
    "Anaya": 73,
    "Dev": 81,
    "Ira": 59,
    "Vivaan": 94,
    "Riya": 78
}
for key,val in students.items():
    if val>=80:
        print(key,val)

Rohan 92
Siya 85
Kabir 88
Dev 81
Vivaan 94

### 24. Given a dictionary, print the sum of all the values using a for loop

In [27]:
numbers = { "a": 10,"b": 25,"c": 15,"d": 30,"e": 20}
sum=0
for val in numbers.values():
    sum+=val
print(sum)

100

### 25. Given a dictionary, find the key with the highest value using a for loop

In [32]:
numbers = { "a": 10,"b": 25,"c": 15,"d": 30,"e": 20,"f":2,}
high=0
for key,val in numbers.items():
    if val>high:
        high=val
print(high)

30

### 26. Convert all dictionary keys into a list using a for loop

In [34]:
data = {
    "name": "Ruturaj",
    "age": 22,
    "city": "Pune",
    "course": "Data Analytics",
    "batch": "Morning"
}

vals=[]
for key in data.keys():
    vals.append(key)

print(vals)

['name', 'age', 'city', 'course', 'batch']

### 27. Create a dictionary of 5 words and their lengths, then print each word and its length using a for loop

In [36]:
words = {
    "python": 6,
    "data": 4,
    "analysis": 8,
    "loop": 4,
    "dictionary": 10
}
for key,val in words.items():
    print(key,"=",val)

python = 6
data = 4
analysis = 8
loop = 4
dictionary = 10

### 28. Given a list of numbers, print only numbers greater than 10

In [37]:
numbers = [3, 12, 7, 25, 10, 18, 2, 30, 11, 5]
for num in numbers:
    if num >10:
        print(num)

12
25
18
30
11

### 29. Count how many elements in a list are integers using a for loop

In [38]:
items = [10, "hello", 3.5, 25, True, 42, "python", 7, False, 9.8]
total_int=0
for ch in items:
    if isinstance(ch,int):
        total_int+=1
print(total_int)

6

### 30. Print the sum of all even numbers in a list using a for loop

In [39]:
numbers = [4, 7, 12, 19, 20, 33, 8, 5, 16, 27]
sum=0
for num in numbers:
    if num%2==0:
        sum+=num
print(sum)

60

### 31. Print the cube of each number in a list of 5 numbers

In [40]:
nums=[2,3,6,7,8]
for num in nums:
    print(num**3)

8
27
216
343
512

### 32. Print each word in the sentence 'Python is fun' using a for loop

In [41]:
word='Python is fun'
for ch in word:
    print(ch)

P
y
t
h
o
n

i
s

f
u
n

### 33. Print the first 5 multiples of 3 using a for loop

In [43]:
for num in range(3,16,3):
    print(num)

3
6
9
12
15

### 34. Print only names that start with 'A' from a list of names

In [44]:
names = ["Aarav", "Meera", "Ananya", "Rohan", "Aditi", "Kabir", "Arjun", "Siya", "Aman", "Ira"]
for ch in names:
    if ch.startswith("A"):
        print(ch)

Aarav
Ananya
Aditi
Arjun
Aman

### 35. Find the largest number in a list using a for loop

In [45]:
lst=[2,6,10,3,15,22,8,3,5]
largest=lst[0]
for num in lst:
    if largest<num:
        largest=num
print(largest)

22

### 36. Print the index and value of each element in a list

In [60]:
names = ["Aarav", "Meera", "Ananya", "Rohan", "Aditi", "Kabir", "Arjun", "Siya", "Aman", "Ira"]
# for ch in enumerate(names):
#     print(ch)
    
for ch in range(len(names)):
    print(ch,names[ch])

0 Aarav
1 Meera
2 Ananya
3 Rohan
4 Aditi
5 Kabir
6 Arjun
7 Siya
8 Aman
9 Ira

### 37. Create a dictionary with 5 students and their marks

In [ ]:
student={"ruturaj":99,"atharv":69,"rahul":83,"nitin":75,"pooja":88}

### 38. Use a for loop to print all student names

In [61]:
student={"ruturaj":99,"atharv":69,"rahul":83,"nitin":75,"pooja":88}
for ch in student.keys():
    print(ch)

ruturaj
atharv
rahul
nitin
pooja

### 39. Given a dictionary of fruits and prices, use a for loop to print each fruit and its price

In [62]:
fruits={"apple":125,"banana":50,"watermellon":100,"avocado":200}
for ch,num in fruits.items():
    print(ch,"=",num)

apple = 125
banana = 50
watermellon = 100
avocado = 200

### 40. Create a dictionary of 5 products and their prices. Increase every product's price by 10% using a for loop

In [118]:
products = {
    "Laptop": 50000,
    "Mouse": 500,                                               #REVISE 
    "Keyboard": 1500,
    "Monitor": 12000,
    "Headphones": 2000
}
for key in products:
    raise =int(products[key]*1/10)
    products[key]=products[key]+raise
print(products)

SyntaxError: invalid syntax (3944664240.py, line 9)

### 41. Given a dictionary of 10 items, delete all items whose value is less than 50 using a for loop

In [ ]:
stock = {
    "pen": 20,
    "notebook": 75,
    "eraser": 40,
    "bag": 95,
    "pencil": 10,
    "bottle": 60,                                                
    "marker": 45,
    "folder": 85,
    "stapler": 30,
    "tape": 56
}

for key, val in list(stock.items()):
    if val<50:
        stock.pop(key)  
print(stock)

{'notebook': 75, 'bag': 95, 'bottle': 60, 'folder': 85, 'tape': 56}

### 42. Create a dictionary of subjects and marks. Add a new subject and mark. Then use a for loop to print all updated keyâ€“value pairs

In [ ]:
subjects = {
    "Math": 88,                                                             
    "Science": 92,
    "English": 81,
    "History": 76,
    "Geography": 85
}
subjects["Biology"]=88
for key,val in subjects.items():
    print(key,"=",val)

Math = 88
Science = 92
English = 81
History = 76
Geography = 85
Biology = 88

### 43. Given a dictionary of names and ages, add 1 year to every age using a for loop

In [84]:
ages = {
    "Aarav": 21,
    "Meera": 19,
    "Rohan": 23,
    "Ananya": 20,
    "Kabir": 22
}
for key,val in ages.items():
    ages[key]+=1


print(ages)

{'Aarav': 22, 'Meera': 20, 'Rohan': 24, 'Ananya': 21, 'Kabir': 23}

### 44. Print numbers from 0 to 9 using range()

In [85]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

### 45. Print numbers from 5 to 15 using range()

In [87]:
for num in range(5,16):
    print(num)

5
6
7
8
9
10
11
12
13
14
15

### 46. Print numbers from 1 to 20 with a step of 2 using range()

In [89]:
for num in range(1,21,2):
    print(num)

1
3
5
7
9
11
13
15
17
19

### 47. Print the length of a given list using len()

In [90]:
lst=[20,24,26,28,30]
print(len(lst))

5

### 48. Print the length of a given string using len()

In [91]:
word="python is slow"
print(len(word))

14

### 49. Use range() and len() to iterate over a list by index and print each element

In [93]:
fruits = ["apple", "banana", "cherry", "mango", "orange", "grapes"]
for ch in range(len(fruits)):
    print(ch,fruits[ch])

0 apple
1 banana
2 cherry
3 mango
4 orange
5 grapes

### 50. Print the sum of numbers from 1 to 100 using range()

In [95]:
sum=0
for num in range(1,101):
    sum+=num
print(sum)

5050