### 1. Create a dictionary with 3 key-value pairs (name, age, city).

In [2]:
id={"name":"ruturaj","age":23,"city":"pune"}
print(id)

{'name': 'ruturaj', 'age': 23, 'city': 'pune'}

### 2. Create a dictionary and print the value of a specific key.

In [4]:
id={"name":"ruturaj","age":23,"city":"pune"}

id.get("name")

'ruturaj'

### 3. Create a list of 5 numbers and print the second element.

In [5]:
num=[15,25,35,45,55]

num[1]

25

### 4. Add an element "banana" to an existing list.

In [7]:
fruits=["kiwi","watermellon","mango"]

fruits.append("banana")

print(fruits)

['kiwi', 'watermellon', 'mango', 'banana']

### 5. Insert "apple" at index 2 in a list.

In [8]:
fruits=["kiwi","watermellon","mango"]

fruits.insert(2,"apple")

print(fruits)

['kiwi', 'watermellon', 'apple', 'mango']

### 6. Remove the element 10 from a list.

In [10]:
nums=[2,4,6,8,10]

nums.remove(10)

print(nums)

[2, 4, 6, 8]

### 7. Create a tuple with 4 elements and print the last one.

In [13]:
tup=(2,4,6,20)

tup[-1]

20

### 8. Convert a tuple into a list.

In [19]:
tup=(2,4,6,20,25)

con=list(tup)

print(type(con))

<class 'list'>

### 9. Find the length of a given tuple.

In [20]:
digits=(2,4,6,20,25)

len(digits)

5

### 10. Store 5 student names in a list and print them using a loop.

In [21]:
student=["abhay","sujal","nikhil","pranav","raj"]

for i in student:
    print(i)

abhay
sujal
nikhil
pranav
raj

### 11. Create two lists and concatenate them.

In [22]:
student=["abhay","sujal","nikhil","pranav","raj"]

emp=["viren","sarthak","adi"]

student.extend(emp)

print(student)

['abhay', 'sujal', 'nikhil', 'pranav', 'raj', 'viren', 'sarthak', 'adi']

### 12. Reverse a list without using reverse().

In [23]:
student=["abhay","sujal","nikhil","pranav","raj"]

student[::-1]

['raj', 'pranav', 'nikhil', 'sujal', 'abhay']

### 13. Sort a list in descending order.

In [40]:
numb=[25,12,16,30,20]

numb.sort(reverse=True)

print(numb)

[30, 25, 20, 16, 12]

### 14. Create a set with 5 numbers and add a new number.

In [43]:
st={8,6,4,2,10}

st.add(15)
print(st)

{2, 4, 6, 8, 10, 15}

### 15. Remove an element from a set using discard().

In [45]:
st={8,6,4,2,10}

st.discard(2)

print(st)

{4, 6, 8, 10}

### 16. Find the union of two sets.

In [47]:
st={8,6,4,2,10}
ts={20,18,16,10}

st.union(ts)

{2, 4, 6, 8, 10, 16, 18, 20}

### 17. Find the intersection of two sets.

In [49]:
st={8,6,4,2,10}
ts={20,18,16,10,8}

st.intersection(ts)

{8, 10}

### 18. Check if a value exists in a set.

In [50]:
num={20,18,16,10,8}

10 in num

True

### 19. Create a set and clear all elements.

In [52]:
numbers={20,18,16,10,8}

numbers.clear()
print(numbers)

set()

### 20. Convert a list with duplicate values into a set.

In [53]:
price=[20,25,30,30,35,25,45]

nw_price=set(price)

print(nw_price)

{35, 45, 20, 25, 30}

### 21. Create a dictionary and update the value of a key.

In [54]:
data={"name":"ruturaj","age":23,"city":"pune"}

data["city"]="kolhapur"

print(data)

{'name': 'ruturaj', 'age': 23, 'city': 'kolhapur'}

### 22. Delete a key-value pair from a dictionary.

In [55]:
data={"name":"ruturaj","age":23,"city":"pune","dept":"marketing"}

del data["dept"]

print(data)

{'name': 'ruturaj', 'age': 23, 'city': 'pune'}

### 23. Print all keys of a dictionary.

In [56]:
data={"name":"ruturaj","age":23,"city":"pune","dept":"marketing"}

data.keys()

dict_keys(['name', 'age', 'city', 'dept'])

### 24. Print all values of a dictionary.

In [57]:
data={"name":"ruturaj","age":23,"city":"pune","dept":"marketing"}

data.values()

dict_values(['ruturaj', 23, 'pune', 'marketing'])

### 25. Loop through a dictionary and print key and value.

In [61]:
data={"name":"ruturaj","age":23,"city":"pune","dept":"marketing"}

for i in data.items():
    print(i)

('name', 'ruturaj')
('age', 23)
('city', 'pune')
('dept', 'marketing')

### 26. Create a list of numbers and print only even numbers.

In [62]:
evens=[3,6,9,12,15,18,21,24]

for i in evens:
    if i%2==0:
        print(i)

6
12
18
24

### 27. Create a tuple and unpack it into 3 variables.

In [19]:
values=(3,6,9)
a=values[0]
b=values[1]
c=values[-1]
print(a,b,c)

3 6 9

### 28. Check if a number is greater than 10 using a comparison operator.

In [20]:
print(8>10)

False

### 29. Use the in operator to check if "python" exists in a list.

In [69]:
database=["java","python","hadoop","hive"]

print("python" in database)

True

### 30. Use the and operator in a condition.

In [70]:
x=10
y=20

print(x>8 and y<25)

True

### 31. Use the % operator to check if a number is divisible by 5.

In [72]:
print(25%5==0)

True

### 32. Use the ** operator to calculate 2 raised to the power 5.

In [73]:
square=2**5
print(square)

32

### 33. Create two numbers and compare them using >=.

In [74]:
a=25
b=30
 
print(b>=a)

True

### 34. Create a list and remove the last element using pop().

In [ ]:
num=[15,25,35,45,55]

num.pop()

print(num)

[15, 25, 35, 45]

### 35. Create a list and print its first and last elements.

In [83]:
stud=["abhay","sujal","nikhil","pranav","raj"]

print(stud[0],stud[-1])

abhay raj

### 36. Count how many times "apple" appears in a list.

In [85]:
fruit=['kiwi', 'watermellon', 'apple', 'mango',"apple","kiwi","apple"]

print(fruit.count("apple"))

3

### 37. Create a tuple and check if a value exists using in.

In [86]:
nums=(2,3,4,5,6,7,8)

10 in nums

False

### 38. Convert a dictionaryâ€™s keys into a list.

In [88]:
data={"name":"ruturaj","age":23,"city":"pune"}

nw_data=list(data)
print(nw_data)

['name', 'age', 'city']

### 39. Create a nested dictionary for a student (name, marks, subjects).

In [ ]:
dic={"name":"ruturaj","marks":
     {20:30,"subject":
      {"english"}}
     }

### 40. Merge two dictionaries into one.

In [90]:
data={"name":"ruturaj","age":23,"city":"pune"}
data2={"dept":"marketing","region":"south"}

data.update(data2)
print(data)

{'name': 'ruturaj', 'age': 23, 'city': 'pune', 'dept': 'marketing', 'region': 'south'}

### 41. Create a set and print the number of elements.

In [92]:
sts={2,3,4,5,6,7,8}
print(len(sts))

7

### 42. Create a dictionary and print all items using items().

In [93]:
emp_data={'name': 'ruturaj', 'age': 23, 'city': 'pune', 'dept': 'marketing', 'region': 'south'}

print(emp_data.items())

dict_items([('name', 'ruturaj'), ('age', 23), ('city', 'pune'), ('dept', 'marketing'), ('region', 'south')])

### 43. Create a list of numbers 1 to 10 and print the square of each one.

In [94]:
squres=[1,2,3,4,5,6,7,8,9,10]
for i in squres:
    print(i**2)

1
4
9
16
25
36
49
64
81
100

### 44. Multiply two numbers and print the result using *.

In [ ]:
mult=3*5
print(mult)

15

### 45. Divide two numbers and print the results using / and //.

In [101]:
div=10/5
print(div)

fl_div=10//2
print(fl_div)

2.0
5

### 46. Create a list and replace the element at index 1.

In [102]:
num=[15,25,35,45,55]

num[1]=500
print(num)

[15, 500, 35, 45, 55]

### 47. Create a tuple from user input (3 values).

In [29]:
x=(input("Enter the first value:"))
y=(input("Enter the second value:"))
z=(input("Enter the third value:"))
tpl=(x,y,z)
print(tpl)

('55', '55', '55')

### 48. Create a set from a string and print all unique characters.

In [6]:
strs="cricket"
nw_st=set(strs)
print(nw_st)

{'r', 'i', 'c', 't', 'e', 'k'}

### 49. Use the is operator to compare two variables.

In [8]:
a=10
b=12
a is b

False

### 50. Create a dictionary and check if a key exists using in.

In [9]:
emp_data={'name': 'ruturaj', 'age': 23, 'city': 'pune', 'dept': 'marketing', 'region': 'south'}

"dept" in emp_data

True

### 51. Write a program to check if a number is between 10 and 50 using and.

In [4]:
num=int(input("enter"))
if num>=10 and num<=50:
        print("yes")

yes

### 52. Check if a number is less than 5 or greater than 20 using or.

In [ ]:
num=int(input("enter"))
if num<=5 or num>=20:
        print("yes")

yes

### 53. Use not to check if a list is not empty.

In [ ]:
data_list = [1,2,3]
not(data_list)

True

### 54. Write code to check if a character is a vowel using or.

In [7]:
vowel=["a","e","i","o","u"]
char=input("enter")
if char in vowel:
    print("yes")
else:
    print("no")

no

### 55. Check if a dictionary has both keys "name" and "age".

In [ ]:
emp_data={'name': 'ruturaj', 'age': 23, 'city': 'pune', 'dept': 'marketing', 'region': 'south'}

"name"and"age" in emp_data

### 56. Verify if a set contains either 10 or 20.

In [ ]:
seet={25,10,20,35}
20 in seet or 10 in seet

True

### 57. Use not to check if a number is not equal to 100.

In [32]:
nums=int(input())
if not nums==100:
    print(f"{nums} is Not equal to 100")

10 is Not equal to 100

### 58. Write a condition to check if a student passed (marks > 35 and attendance > 75).

In [14]:
mark=int(input())
attend=int(input())
if mark>=35 and attend>=75:
    print("passed")
else:
    print("failed")

failed

### 59. Use logical operators to check if a number is positive and even.

In [18]:
num=int(input("enter number"))
if num>0 and num%2==0:
    print("positive and even")
else:
    print("no")

no

### 60. Check if a tuple has more than 3 elements or contains the value 0.

In [30]:
toup=(2,3,4,5,6,7,0)
if len(toup)>3 or 0 in toup:
    print("has more than 3 values or has 0")
else:
    print("dont have more than 3 values or dont have 0")

has more than 3 values or has 0